font-family: 'Playfair Display', serif;

body{
  font-family: 'Playfair Display';
  margin: 0px;
}

body{
  font-family: 'Playfair Display';
  margin: 0px;
  color: #08253F;
  overflow-x: hidden;
}

.logo p{
  font-weight: normal;
  width: min-content;
  text-align: right;
  font-size: 40px;
  margin: 15px;
}

h1{
  font-size: 45px;
  font-weight: bold;
}

h2{
  font-size: 30px;
  width: 100%;
  text-align: center;
}

p{
  font-size: 22px;
}

.p1{
  font-size: 25px;
}

.p2{
  font-size: 27px;
}

.p3{
  font-size: 20px;
}

a{
  text-decoration: none;
  color: initial;
}

header, .menu , .topnav{
  background-color: white;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  height: 10vh;
  z-index: 1000;
}

.logo{
  width: min-content;
  height: 100%;
  line-height: 20px;
}

.sous_h1{
  color: #B68349;
  font-size: 20px;
}

nav {
  width: 60%;
  display: flex;
  align-items: center;
  height: 100%;
}

ul {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0px;
  justify-content: flex-end;
}

header ul{
  align-items: center;
}

li{
  margin-right: 20px;
}

.button{
  display: flex;
  align-content: center;
  height: 100%;
  align-items: center;
  color: white;
}

.button p{
  background-color: #ff4136;
  border-radius: 2px;
  border-color: #ff4136;
  padding: 10px;
  height: 20px;
  color: white;
}

.page{
  
}

.presentation{
  background-image: url(../image/site.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.presentation_text{
  height: 100%;
  width: 55%;
  background-color: white;
  opacity: 0.5;
  position: relative;
  z-index: 0;
}

.text{
  position: relative;
  z-index: 5;
  top: -60vh;
  width: 45%;
  padding: 0% 5%;
}

.a_propos{
  background-color: #08253F;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2% 20%;
}

.a_propos img, .competences img{
  width: 200px;
}

h2 i{
  margin: 0% 2%;
}

.a_propos p, .a_propos h2{
  margin: 10px;
}

.competences{
  background-color: white ;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #08253F;
  padding: 2%;
}

.services{
  position: relative;
  top: 10vh;
}

.list{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  row-gap: 10px;
}

.sous_list{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.sous_list li{
  margin: 0px;
  margin-bottom: 10px;
  font-size: 22px;
}

.bloc_competence {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% 2%;
}

.sans_marge{
  margin: auto;
}

.sous_competence {
  width: 200px;
  padding: 2%;
  background-color: lightgrey;
  margin-bottom: 2%;
}

.tarifs{
  line-height: 30px;
  align-items: baseline;
  margin-left: 25px;
  position: relative;
}

.banniere{
  display: flex;
  background-color: #08253F;
  background-image: url(../image/site_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banniere_img{
  width: 50%;
}

.banniere_text{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5% 5% 5% 15%;
  align-items: center;
  color: white;
}

.banniere p{
  text-align: center;
}

.presentation_2{
  display: flex;
  width: 100vw;
  margin: 5% 0%;
}

.presentation_2_text {
  width: 40%;
  padding: 2% 10%;
}

.presentation_2_text h2{
  text-align: left;
}

.presentation_2_img{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation_2_img img{
  width: 300px;
  height: 400px;
  box-shadow: 10px 10px 1px #08253F;
}

.icon_3 {
  display: flex;
  justify-content: space-around;
}

.banniere_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0C5A9A;
  width: 100vw;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0% 5%;
  background-color: #08253F;
  color: white;
}

footer nav ul{
  justify-content: initial;
  padding: 0% 2%;
}

footer li{
  color: white;
}

footer p{
  font-size: 15px;
}

.topnav{
  display: none;
}